@import "./font.scss";

$primary: #f9a93e;
$secondary: #397490;
$pink: #FFF3F8;
$green: #D9FCD6;
$light-blue: #D6FCF7;
$yellow: #FFF5D2;
$purple: #EFDDF7;
$blue: #DAE9FF;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap-vue/src/index.scss";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: Prompt;
}

body {
  background: #ebebeb;
  font-size: 18px;
  margin: 0;
}

.background-primary {
  background: $primary;
}

.background-pink {
  background: $pink;
}

.background-green {
  background: $green;
}

.background-light-blue {
  background: $light-blue;
}

.background-blue {
  background: $blue;
}

.background-yellow {
  background: $yellow;
}

.background-purple {
  background: $purple;
}

::placeholder {
  color: #ccc;
  font-size: 15px;
}

.categories {
  padding: 0;
  display: flex;
  align-items: center;
}

.categories li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}

.categories li a {
  display: flex;
  align-items: center;
}

.categories input {
  display: none;
}

.categories label {
  width: 25px;
  height: 25px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.title-input {
  padding: 10px;
  //border: none;
  outline: none;
}

.title-input::placeholder {
  //font-size: 18px;
}

.note-editor {
  max-width: 600px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 16px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  border: 2px solid black;
  position: relative;
  border-bottom-width: 5px;
  textarea {
    padding: 10px;
    resize: none;
    //border: none;
    &:hover {
      outline: 0;
    }
    &:focus {
      outline: 0;
    }
  }
  .add-btn {
    padding: 5px 10px;
    background: transparent;
    border-radius: 30px;
    border: none;
    color: #000;
    outline: none;
    font-size: 20px;
    cursor: pointer;
  }
}

.note-title {
  margin-right: 15px;
  outline: none;
}

.noteContainer {
  column-count: 4;
  column-gap: 1em;
  margin: -50px 25px 50px;
}

.note {
  position: relative;
  box-shadow: 0 2px 2px rgba(0, 90, 250, 0.05), 0 4px 4px rgba(0, 90, 250, 0.05),
    0 8px 8px rgba(0, 90, 250, 0.05), 0 16px 16px rgba(0, 90, 250, 0.05);
  box-sizing: border-box;
  flex-direction: column;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
  background: #fff;
  padding: 15px;
  word-break: break-word;
  cursor: pointer;
  grid-row-end: span 1;

  border: 2px solid black;
  border-bottom-width: 5px;
  border-radius: 10px;
}

.note-editor-bottom {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.color-picker {
  padding-left: 10px;
  margin-right: auto;
  span {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    display: inline-block;
    border-radius: 50%;
    font-size: 0;
    cursor: pointer;
  }
  label {
    width: 23px;
    height: 23px;
    margin-right: 5px;
    display: inline-block;
    border-radius: 50%;
    font-size: 0;
    border: 1px solid;
    cursor: pointer;
    border-color: black;
    box-shadow: 0px 1px grey;
    //&:hover {
    //    border-color: rgba(0,0,0,0.4);
    //}
  }
  input {
    display: none;
  }
}

.delete {
  position: absolute;
  right: 25px;
  top: 25px;
}
