.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #464c55;
  color: #fff;
  margin-bottom: 50px;
}

.navbar-brand {
  padding: 0.6em 0px 0.7em 0px;
}

.navbar-toggler {
    color: white;
    background-color: white;
    z-index:999;
}

.mock-icon {
  width: 60px;
  height: 60px;
  border-radius: 2em;
  background-image: linear-gradient(120deg, #efb20c, rgba(0, 0, 0, 0.2));
  opacity: 0.5;
}

a.navbar-brand .web-title {
  position: absolute;
  margin-left: 1.5em;
  margin-top: -1.6em;
  font-size: 1.2em;
  //   font-family: Promt;
  font-weight: 200;
  color: white;
}

#navbarSupportedContent {
  position: relative;
  justify-content: right;
  margin-top: 2em;
}

.nav-item {
    margin: 0px 1em;
    padding: 0px 0px !important;
}

.nav-item .nav-link {
    color: white;
    background-image: linear-gradient(to right, white, white);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 0% 4px;
    transition: background-size .5s ease;
    // transition: .3s;
}

.nav-item.active .nav-link {
    background-size: 100% 4px;
}

.nav-item:hover .nav-link {
    background-size: 100% 4px;
}

.btn-custom-yellow {
  background-color: #f9a93e;
  border: #18191f solid 2px;
  border-radius: 0.6em;
  transition: .3s;
}

.btn-custom-yellow:hover {
  box-shadow: 2px 2px 2px rgba(0,0,0,.5);
  color: black !important;
    transform: translate(-1px,-1px);
}
